body {
    width: 1280px;
    margin: 0 auto;
    font-family: Arial;
}

.padding-site {
    padding: 50px;
    box-sizing: border-box;
}

.main-header {
    background-color:#445162;
    display: flex;
    justify-content: space-between;
    color: #fff;
    min-height: 323px;
}

.main-header-title {
    font-size: 60px;
    line-height: 1.2;
    font-weight: 400;
    margin: 0 0 20px 0;
}

.main-header-list {
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-header-list-item {
    position: relative;
    padding: 0 0 0 30px;
    box-sizing: border-box;
}

.main-header-list-item:before {
    content: "";
    display: block;
    width: 25px;
    height: 19px;
    position: absolute;
    top: 7px;
    left: 0;
    background-image: url(../img/346.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.main-header-img {
    width: 469px;
    height: 214px;
    background-color: #ffffff;
}

.content {
    color: #333;
}

.about-product {
    display: flex;
    justify-content: space-between;
}

.about-product-wrp {
    width: 649px;
}

.about-product-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    margin: 0 0 10px 0;
}

.about-product-text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    margin: 20px 0 0 0;
}

.about-product-video {
    width: 430px;
    height: 245px;
    background-color: #445161;
}

.dignity {
    min-height: 390px;
    background-color: #f5f5f5;
}

.dignity-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    text-align: center;
    margin: 0 0 9px 0;
}

.dignity-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.dignity-list-item {
    width: 530px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    margin: 20px 0 0;
    position: relative;
    padding: 0 0 0 40px;
    box-sizing: border-box;
}

.dignity-list-item:before {
    content: "+";
    display: block;
    width: 32px;
    height: 32px;
    background-color:#445161;
    position: absolute;
    top: 5px;
    left: 0;
    color: #fff;
    text-align: center;
    font-size: 40px;
    line-height: 32px;
}

.screenshots {
    min-height: 487px;
}

.screenshots-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    text-align: center;
    margin: 0 0 5px 0;
}

.screenshots-figure-wrp {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.screenshots-figure {
    display: flex;
    justify-content: space-between;
    width: 570px;
    margin: 29px 0 0 0;
}

.screenshots-figure-img {
    width: 200px;
    height: 150px;
    background-color: #445161;
}

.screenshots-figure-figcaption {
    margin: 0 0 0 10px;
}

.screenshots-figure-figcaption-titel {
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #445161;
    margin: 0 0 10px 0;
}

.screenshots-figure-figcaption-text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    width: 359px;
    margin: 0;
}

.reviews {
    min-height: 424px;
    background-color: #f5f5f5;
}

.reviews-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    text-align: center;
    margin: 0 0 11px 0;
}

.reviews-wrp {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.reviews-comment {
    width: 574px;
    min-height: 121px;
    display: flex;
    justify-content: space-between;
    margin: 24px 0 0 0;
}

.reviews-comment-avatar {
    width: 75px;
    height: 75px;
    background-color: #445161;
    border-radius: 50%;
    margin: 0;
}

.reviews-comment-text {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    font-style: italic;
    color: #333333;
    width: 473px;
    margin: 0;
    position: relative;
    background-color: #ebebeb;
    padding: 16px 20px;
    box-sizing: border-box;
}

.reviews-comment-text:before {
    content: "";
    display: block;
    border: 13px solid transparent; 
    border-right: 13px solid #ebebeb;
    position: absolute;
    top: 25px;
    left: -26px;
}

.reviews-comments-name {
    display: block;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #989898;
    margin: 15px 0 0 0;
}

.price {
    min-height: 656px;
}

.price-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    text-align: center;
    margin: 0 0 29px 0;
}

.price-wrp {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.price-offer {
    width: 300px;
    background-color: #445162;
    border-radius: 1%;
    padding: 0 0 20px 0;
    box-sizing: border-box;
}

.price-offer-title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    margin: 17px 0;
}

.price-offer-cost {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 71px;
    font-size: 40px;
    line-height: 30px;
    font-weight: 400;
    color: #445162;
    background-color: #fff;
    border: 2px solid #445162;
    box-sizing: border-box;
}

.price-offer-list {

}

.price-offer-list-item {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
}

.price-offer-btn {
    width: 260px;
    min-height: 40px;
    background-color: #fff;
    border: 0;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #445161;
    margin: 0 20px;
    text-transform: uppercase;
    border-radius: 3%;
    outline: none;
}

.price-offer-btn:active {
    background-color: #445161;
    color: #fff;
}